@import "../utils/vars";
.advantages {
    max-width: 480px;
    &__item {
        margin-bottom: 30px;
    }
    &__bg {
        background-color: #F5F4FA;
        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon {
        width: 70px;
        height: 70px;
        text-align: center;
    }
    &__title {
        font-size: 14px;
        font-weight: map-get($font-weight, Bold);
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        color: $primaryColor;
        margin-bottom: 10px;
    }
    &__text {
        letter-spacing: 0.03em;
        color: $secondaryColor;
        font-size: 14px;
    }
}